{% extends 'base.html' %}

{% block title %}Page Not Found (404){% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <img src="{% static 'images/404.png' %}" alt="404 Error" class="img-fluid mb-3">
                    <h1 class="display-4">Oops! Page Not Found</h1>
                    <p class="lead">The page you are looking for could not be found.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
